<div>CIAOOOO!!</div>
<script>
    function submitform(){
        alert("You entered " + document.getElementById("password").value);
        document.getElementById("password").value = 0;
        return false;
    }
</script>
<form method="post" onsubmit="return submitform()">
    <h2>Please login</h2>

    <div>
        <input id="password" type="password" name="password" class="patternlock">
        <input type="submit" value="login"/>
    </div>
</form>

<script>
    patternLock.init()
</script>